<div class="big-space"></div>

<div class="row">
  <div class="small-8 small-centered columns grey-background">
    <%= form_tag(results_coffee_shops_path, method: 'get') do %>
      <%= label_tag(:query, 'Search for a Coffee Shop by Zipcode or Name:') %>
      <%= text_field_tag(:query) %>
      <%= submit_tag('Search') %>
    <% end %>

  </div>
</div>
