<div class="big-space"></div>

<div class="row">
  <div class="small-8 small-centered columns">
    <%= form_tag(results_coffeeshops_path, method: 'get') do %>
      <%= label_tag(:query, 'CoffeeShop Search ') %>
      <%= text_field_tag(:query) %>
      <%= submit_tag('Search') %>
    <% end %>

  </div>
</div>
