<div class="big-space"></div>
<div class="white-background small-5 small-centered columns">
  <div class="row">
    <div class="small-10 small-offset-1 columns">
      <h1>About Moker</h1>
    </div>
  </div>
  <div class="big-space"></div>
  <div class="row">
    <div class="small-10 small-centered columns">
      <p class="about">Moker(mobile worker) makes finding a place to work easy. Our goal is to find you a coffee shop with 3 things - fast wifi, comftorable workspace, and amazing coffee.</p>
      <p class="about">The best thing about Moker is that you're part of a mobile workforce community. Every time you walk into a coffee shop to get some work done you'll have a chance to interact with other Moker's that are working on interesting projects as well.</p>
      <p class="about">Moker allows you to see who's checked into a particular coffee shop at the time you open the app to search for a nearby coffee shop to work in. Here's an example of the benefits Moker provides. You're deciding between coffee shop A and B. You know that you will be working with python and might need someone to look over your code - well what if you can see someones profile that is currently checked into coffee shop A? Their profile says that they are proficient in python and javascript. You would probably go to coffee shop A instead of B.</p>
      <p class="about">Developers constantly pass each other by at coffee shops without ever saying hello. Think of all the new projects, ideas, and friendships that can come of a simple 10 minute conversation.</p>
      <p class="about">The possibilities are limitless.</p>

    </div>
  </div>
  <div class="big-space"></div>
  <div class="row">
    <div class="small-10 small-offset-1 columns">
      <h5>Attribution:</h5>
      <p class='attribution'>"Coffee" symbol by Phil Goodwin, from <a href="http://thenounproject.com/term/coffee/7435/">The Noun Project</a> collection.</p>
      <p class='attribution'>"Wifi" symbol by Alex Auda Samora, from <a href="http://thenounproject.com/term/wifi/34656/">The Noun Project</a> collection.</p>
      <p class='attribution'>"Worker" symbol by Bart Laugs, from <a href="http://thenounproject.com/term/worker/1539/">The Noun Project</a> collection.</p>
      <p class='attribution'>"People" symbol by Reza Mostmand, from <a href="http://thenounproject.com/term/people/35966/">The Noun Project</a> collection.</p>
    </div>
  </div>
</div>
