/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body {
  background: RGB(215, 215, 215);
}

div.avatar-wrap {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

div.small-space {
  margin-bottom: 20px;
}

div.big-space {
  margin-bottom: 50px;
}

div.detail-wrap {
  border-radius: 10px;
  background: white;
  /*width: 100%;*/
  /*height: 300px;*/
}

h1.title {
  text-align: center;
  padding-top: 20px;
  /*float: left;*/
}

div.ratings {
  padding-top: 10px;
  padding-left: 25px;
}
div.ratings p {
  font-size: 10pt;
  line-height: 5px;
}

div.rate-button {
  text-align: right;
  margin-top: 20px;
}

div.circle {
  background: orange;
  border-radius: 100%;
  height: 75px;
  width: 75px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

p.circle-rating {
  line-height: 75px;
  display: inline-block;
  vertical-align: middle;
}

div.tips {
  margin-top: 25px;
  background: RGB(245, 245, 245);
  border-radius: 10px;
  overflow: scroll;
}

p.tip-comment {

}

p.tip-username {
  color: grey;
  font-size: 8pt;
  line-height: 4px;
  margin-top: -18px;
}

/*#burst-12 {
    background: red;
    width: 80px;
    height: 80px;
    position: relative;
    text-align: center;
}
#burst-12:before, #burst-12:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    background: red;
}
#burst-12:before {
    -webkit-transform: rotate(30deg);
       -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
         -o-transform: rotate(30deg);
}
#burst-12:after {
    -webkit-transform: rotate(60deg);
       -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
         -o-transform: rotate(60deg);
}*/
