/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


.red {
  background: red;
}

.blue {
  background: blue;
}

.center {
  text-align: center;
  display: inline-block;
}

.white-text {
  color: white;
}

.white-background {
  background-color: rgba(255, 255, 255, .7);
  border-radius: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.grey-background {
  background-color: rgb(215, 215, 215);
  background-color: RGBA(215, 215, 215, .8);
  padding: 20px;
  border-radius: 10px;
}

body {
  /*background: RGB(215, 215, 215);*/
  background: url(background_greyscale.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



p.attribution {
  color: rgba(0, 0, 0, .5);
  font-size: 8pt;
  line-height: 3px;
}

p.about {
  text-align: justify;
  margin-bottom: 35px;
}

div.avatar-wrap {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  text-align: center;
}

img.result-image {
  height: 150px;
}

div.small-space {
  margin-bottom: 20px;
}

div.medium-space {
  margin-bottom: 30px;
}

div.big-space {
  margin-bottom: 50px;
}

div.survey-wrap {
  border-radius: 10px;
  background: white;
  text-align: center;
}

div.survey-errors-wrap{
  margin-top: 20px;
  text-align: center;
}

div.detail-wrap {
  border-radius: 10px;
  background: white;
}

p.result-address {
  color: grey;
  font-size: 8pt;
  line-height: 4px;
  margin-left: 1px;
  padding-bottom: 10px;
}

p.show-address {
  color: grey;
  font-size: 8pt;
  line-height: 4px;
  margin-left: 3px;
  padding-bottom: 10px;
}

div.picture-gallery {
  text-align: center;
  padding: 20px 0 20px 0;
}

div.show-picture-wrap {
  height: 65px;
  width: 100px;
  overflow: hidden;
}

img.show-picture {
  display: inline;
  width: 200px;
  line-height: 65px;
  vertical-align: middle;
}

h1.title {
  padding-top: 20px;
}

div.ratings {
  padding-top: 10px;
  padding-left: 25px;
}
div.ratings p {
  font-size: 10pt;
}

div.rate-button {
  text-align: right;
  margin-top: 20px;
}

div.circle {
  background: orange;
  border-radius: 100%;
  height: 75px;
  width: 75px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

p.circle-rating {
  line-height: 75px;
  display: inline-block;
  vertical-align: middle;
}

div.check-ins {
  margin-top: 25px;
  background: RGB(245, 245, 245);
  border-radius: 10px;
  padding: 25px;
}

div.check-in-avatar {
  display: inline-block;
  width: 45px;
  overflow: hidden;
  border-radius: 100%;
  margin-right: 10px;
}

div.tips {
  margin-top: 25px;
  background: RGB(245, 245, 245);
  border-radius: 10px;
  overflow: scroll;
  height: 250px;
}

.tip-title {
  margin-top: 15px;
}

p.tip-comment {
  font-size: 10pt;
}

p.tip-username {
  color: grey;
  font-size: 8pt;
  line-height: 4px;
  margin-left: -20px;
  padding-bottom: 10px;
}

.tip-button {
  margin-top: 15px;
}

img.review-avatar {
  height: 40px;
}

img.nav-avatar {
  height: auto;
  width: 55px;
}

div.review-avatar-wrap {
  border-radius: 100%;
  width: 35px;
  height: 35px;
  overflow: hidden;
  margin-top: -13px;
  text-align: center;
}

div.nav-avatar-wrap {
  display: inline-block;
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-radius: 100%;
  line-height: 25px;
  vertical-align: middle;
}

.fbook-signin {
  width: 170px;
}

div.tip-wrap {
  width: 480px;
  text-align: center;
}

div.review-wrap {
  width: 480px;
  text-align: center;
}

div#form-tag {
  width: 200px;
}


